vendor/
.env
.git/
.idea/
tests/
storage/
storage/logs/
storage/framework/
storage/app/
storage/Export/
storage/customer/
storage/ExportSaleProduct/
composer.lock
public/uploads/
public/cache/
nohup.out
public/cache
db/
